.faq-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  gap: 50px;
  align-items: flex-start;
}

.faq-left {
  flex: 1;
}

.faq-left h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.faq-left p {
  color: #555;
  margin-bottom: 30px;
}

.accordion {
  background-color: #f9f8ff;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
}

.accordion-header {
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  padding: 10px 20px 20px;
  color: #666;
}

.faq-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-right img {
  max-width: 100%;
  height: auto;
}
