.project-page-layout {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  gap: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex-wrap: wrap;
  background-color: #fdfdfd;
}

.project-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  min-width: 250px;
}

.items {
  background-color: rgba(153, 140, 140, 0.5);
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: background 0.3s ease;
  
}

.items:hover {
  background-color: rgba(100, 100, 100, 0.3);
}

.project-data {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
}

.project-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.project-point {
  background-color: #e8e8e8;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}
