.timeline-section {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 800px;
    align-items: start;
    margin: 10px 30px 10px 50px;
    overflow: hidden;
    padding-left: 10px;
  }
  
  .timeline-item {
    display: flex;
    position: relative;
    margin-bottom: 60px;
  }
  
  .timeline-circle {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #f0f8fa;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #007b8f;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  
  .timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    left: 19px;
    top: 40px;
    height: calc(100%);
    width: 2px;
    background: #e0e0e0;
    box-shadow: 1px 0 0 rgba(255,255,255,0.8),
   
}
  
  .timeline-content {
    padding-left: 60px;
  }
  
  .timeline-title {
    color: #007b8f;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .timeline-description {
    color: #555;
    line-height: 1.6;
  }

  .logo-title{
      color: #007b8f;
  }

  .why-choose-div{
    margin: 10px;
  }